.dark-theme {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
}

.navigation a {
    color: white;
    margin-right: 16px;
    text-decoration: none;
}

.navigation a:hover {
    color: #48bb78; /* Green */
}

.main-content {
    flex: 1;
    padding: 16px 24px;
}

.carousel {
    position: relative;
    max-width: 640px;
    height: 420px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    height: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    padding-left: 4px;
}


.footer {
    padding: 16px 24px;
    background-color: #2d3748; /* Dark Gray */
    color: #a0aec0; /* Light Gray */
}

.footer-navigation a {
    color: #a0aec0; /* Light Gray */
    margin-right: 16px;
    text-decoration: none;
}

.footer-navigation a:hover {
    color: #48bb78; /* Green */
}
